[Unit]
Description=Firewall configuration for IPv4
After=syslog.target
After=network.target

[Service]
Type=oneshot
ExecStart=/etc/firewall-rules.bash
ExecReload=/etc/firewall-rules.bash
ExecStopPost=/sbin/iptables -F

[Install]
WantedBy=multi-user.target
